---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/games/starcraft
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, PATCH, HEAD, OPTIONS
      Path:
      - api-game-detail
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: ASCII-8BIT
      string: '{"id":32716,"slug":"starcraft","name":"StarCraft","name_original":"StarCraft","description":"<p>StarCraft
        is an action game developed by Blizzard Entertainment, Inc. and Mass Media
        Inc.. It came out on 31-03-1998. Blizzard Entertainment published the game.
        The game is rated as \"Exceptional\" on RAWG. <br>StarCraft is available on
        PC, Nintendo 64 and macOS. <br>It was scored by Derek Duke, Glenn Stafford,
        Jason Hayes and Tracy W. Bush. <br></p>","metacritic":null,"metacritic_platforms":[],"released":"1998-03-31","tba":false,"updated":"2019-11-02T10:57:25","background_image":"https://media.rawg.io/media/games/68a/68a77a21ec04083f3e6af62cdbed9c0a.jpg","background_image_additional":"https://media.rawg.io/media/screenshots/1c2/1c229f8d76c2b18e58022adaa143f9c7.jpg","website":"http://www.blizzard.com/starcraft","rating":4.38,"rating_top":5,"ratings":[{"id":5,"title":"exceptional","count":201,"percent":59.29},{"id":4,"title":"recommended","count":92,"percent":27.14},{"id":3,"title":"meh","count":33,"percent":9.73},{"id":1,"title":"skip","count":13,"percent":3.83}],"reactions":{"2":1,"3":1,"4":2,"8":1,"11":1,"12":1,"15":1,"21":1},"added":553,"added_by_status":{"yet":15,"owned":128,"beaten":295,"toplay":21,"dropped":87,"playing":7},"playtime":1,"screenshots_count":12,"movies_count":0,"creators_count":6,"achievements_count":0,"parent_achievements_count":0,"reddit_url":"","reddit_name":"","reddit_description":"","reddit_logo":"","reddit_count":0,"twitch_count":100,"youtube_count":1000000,"reviews_text_count":3,"ratings_count":336,"suggestions_count":452,"alternative_names":[],"metacritic_url":"","parents_count":0,"additions_count":1,"game_series_count":3,"user_game":null,"reviews_count":339,"saturated_color":"0f0f0f","dominant_color":"0f0f0f","parent_platforms":[{"platform":{"id":1,"name":"PC","slug":"pc"}},{"platform":{"id":5,"name":"Apple
        Macintosh","slug":"mac"}},{"platform":{"id":7,"name":"Nintendo","slug":"nintendo"}}],"platforms":[{"platform":{"id":4,"name":"PC","slug":"pc","image":null,"year_end":null,"year_start":null,"games_count":225974,"image_background":"https://media.rawg.io/media/games/929/9295e55ce69cf5337c567983cf8b4137.jpeg"},"released_at":"1998-03-31","requirements":null},{"platform":{"id":83,"name":"Nintendo
        64","slug":"nintendo-64","image":null,"year_end":null,"year_start":null,"games_count":349,"image_background":"https://media.rawg.io/media/screenshots/e4c/e4c9fe1fb9c4f99d87cc641465f4ec99.jpg"},"released_at":"1998-03-31","requirements":null},{"platform":{"id":5,"name":"macOS","slug":"macos","image":null,"year_end":null,"year_start":null,"games_count":52214,"image_background":"https://media.rawg.io/media/games/588/588c6bdff3d4baf66ec36b1c05b793bf.jpg"},"released_at":"1998-03-31","requirements":null}],"stores":[],"developers":[{"id":124,"name":"Blizzard
        Entertainment, Inc.","slug":"blizzard-entertainment-inc","games_count":51,"image_background":"https://media.rawg.io/media/screenshots/1f6/1f613bb69b69b8d4589a425a8b09114d_RuknkqQ.jpg"},{"id":26423,"name":"Mass
        Media Inc.","slug":"mass-media-inc-2","games_count":10,"image_background":"https://media.rawg.io/media/screenshots/c43/c434fed477a593c88574b0a08d200439.jpg"}],"genres":[{"id":4,"name":"Action","slug":"action","games_count":87117,"image_background":"https://media.rawg.io/media/games/929/9295e55ce69cf5337c567983cf8b4137.jpeg"}],"tags":[{"id":7,"name":"Multiplayer","slug":"multiplayer","language":"eng","games_count":20059,"image_background":"https://media.rawg.io/media/games/328/3283617cb7d75d67257fc58339188742.jpg"},{"id":31,"name":"Singleplayer","slug":"singleplayer","language":"eng","games_count":73306,"image_background":"https://media.rawg.io/media/games/7fa/7fa0b586293c5861ee32490e953a4996.jpg"},{"id":411,"name":"cooperative","slug":"cooperative","language":"eng","games_count":2222,"image_background":"https://media.rawg.io/media/games/a3c/a3c529a12c896c0ef02db5b4741de2ba.jpg"},{"id":37796,"name":"exclusive","slug":"exclusive","language":"eng","games_count":4456,"image_background":"https://media.rawg.io/media/games/d64/d6443375f9971152866ea76bff97d6d6.jpg"}],"publishers":[{"id":10681,"name":"Nintendo","slug":"nintendo","games_count":1140,"image_background":"https://media.rawg.io/media/games/356/3566c06f8e5d3b45f4163dec1d9968a2.jpg"},{"id":11237,"name":"Blizzard
        Entertainment","slug":"blizzard-entertainment","games_count":39,"image_background":"https://media.rawg.io/media/screenshots/1f6/1f613bb69b69b8d4589a425a8b09114d_RuknkqQ.jpg"}],"esrb_rating":null,"clip":null,"description_raw":""}'
  recorded_at: Wed, 27 May 2020 13:41:32 GMT
- request:
    method: get
    uri: https://api.rawg.io/games/starcraft
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: "<h1>Not Found</h1><p>The requested resource was not found on this server.</p>"
  recorded_at: Wed, 27 May 2020 13:41:32 GMT
recorded_with: VCR 5.1.0
